@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px 4px 8px rgba(0,0,0,0.12);
  --menu-shadow: 0px 20px 5px rgba(0, 0, 0, 1.0);
  --green: #2B9F3F;
  --red: #CE1218;
  --text-color: #161817;
  --text-color-10: #16181719

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}
